.carousel {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel input {
    display: none;
}

.cards {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.card {
    width: 33.33%;
    transition: all 0.5s;
}

.card img {
    width: 100%;
    height: auto;
}

#item-1:checked ~ .cards {
    transform: translateX(0);
}

#item-2:checked ~ .cards {
    transform: translateX(-33.33%);
}

#item-3:checked ~ .cards {
    transform: translateX(-66.66%);
}


.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bar {
    width: 10px;
    height: 10px;
    margin: 6px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.4s ease;
}

#item-1:checked ~ .navigation label[for="item-1"],
#item-2:checked ~ .navigation label[for="item-2"],
#item-3:checked ~ .navigation label[for="item-3"] {
    background-color: #333;
}
